<div class="container">
    <h1 class="title text-center">Proceder al Pago</h1>
    <div class="container">
        <div class="mb-3">
            <label for="nameInput" class="form-label">Nombre</label>
            <input id="nameInput" class="form-control" placeholder="Nombre" 
                [(ngModel)]="name" (input)="onInputChange()" />
            <ul *ngIf="filteredNames.length" class="list-group">
                <li *ngFor="let suggestion of filteredNames" (click)="selectName(suggestion)"
                    class="list-group-item">
                    {{ suggestion }}
                </li>
            </ul>
        </div>
        
        <div class="mb-3">
            <label for="productSelect" class="form-label">Selecciona El Método de Pago</label>
            <select id="productSelect" class="form-select" [(ngModel)]="selectedMethod">
                <option value="" disabled selected>Seleccione una opción</option>
                <option>Efectivo</option>
                <option>SINPE</option>
                <option>Credito</option>
            </select>
            <button (click)="addPaymentMethod()" class="btn btn-primary mt-2">+</button>
        </div>

        <div *ngFor="let method of paymentMethods">
            <label>{{ method }}</label>
            <!-- Solo muestra el textbox si hay 2 o más métodos seleccionados -->
            <input *ngIf="paymentMethods.length > 1" 
                   type="number" 
                   class="form-control" 
                   [(ngModel)]="amounts[method]" 
                   placeholder="Monto" />
            <button (click)="removePaymentMethod(method)" class="btn btn-danger mt-2">Eliminar</button> <!-- Botón de eliminar -->
        </div>

        <h3 class="text-end fw-bold">Total: 5000₡</h3> <!-- Total estático -->
        <button class="btn btn-success mt-3 float-end">Siguiente</button> <!-- Botón de siguiente -->
    </div>
</div>
